body{
		margin: 0;
		padding:0;
		font-family: 'Roboto', sans-serif;
		position: relative;
		background-color: #ffbc00;
	}

.page--load{
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:1000;
	background-color:#000;
}
.contact--details{display: flex;position: absolute;top: 89%;width: 100%;}

.loaderImg{
	box-shadow: 1px 18px 39px -17px #000;
	z-index: 2;
	background-color: inherit;
	/*! display: flex; */
	/*! width: 80%; */
}

.loaderImg img{/*! filter: blur(1px); */}

.animatedLines{width: 100vw;height: 100vh;position: absolute;}
.loading .animatedLines span{width: ;display: block;height: 0.5em;box-shadow: 0px 0px 11px 0px #feba26;animation-name: lasers;animation-timing-function: linear;animation-duration: 25s;animation-fill-mode: forwards;animation-direction: normal;}
.animatedLines .line1{background-color: #fcb827;transform: rotate(90deg);transform-origin: left;}
.animatedLines .line2{background-color: #feba26;margin-right: 0;margin-left: auto;transform-origin: right;transform: rotate(-90deg);/*! position: absolute; *//*! bottom: 0; */right: 0;}
.animatedLines .line3{margin-bottom: 0;margin-top: auto;background-color: #feba26;position: absolute;bottom: 0;transform-origin: left;transform: rotate(0deg);}
.animatedLines .line4{margin-bottom: 0;margin-top: auto;background-color: #feba26;position: absolute;top: 0;transform-origin: right;transform: rotate(0deg);/*! right: 0; */}


.animatedLines span{
	display: none;
}
body.modal-open{
	background-color: #ffbc00;
}
	.button{
		padding: 0.2em 0.4em;
		font-weight: bold;
		letter-spacing: 0.2em;
		background-color: #fff;
		opacity:0.5;
	}
	.flex_div{
		display: flex;
	}
.video-prompt .prompt{
	transform: translateY(0);
	transition: transform 0.3s ease-in;
}

.prompt{position: absolute;bottom: 1em;display: flex;z-index: 2;background-color: darkseagreen;right: 1em;width: 286px;box-shadow: 1px 1px 1px 1px #000;transform: translateY(130%);transition: transform 0.3s ease-out;}
.prompt .prompt-content{padding: 2em;font-weight: 900;text-align: center;letter-spacing: 5px;}
.prompt .prompt-content p{}
.prompt .prompt-content a{background-color: antiquewhite;letter-spacing: 3px;}


.contact-open.contact-us{transform: translateY(0);transition: transform 0.2s cubic-bezier(.08,.82,.17,1);/*! transform-origin: 400px top; */width: 100%;height: 100%;}
.contact-tip{/*! position: absolute; *//*! max-width: 401px; *//*! z-index: 2; *//*! display: flex; *//*! justify-content: space-between; *//*! right: 2em; *//*! background-color: #fdb927; *//*! border-radius: 10px; *//*! top: 3.4em; *//*! overflow: hidden; *//*! flex-wrap: wrap; *//*! width: 100%; */}
.contact-us{position: absolute;max-width: 406px;z-index: 2;/*! display: flex; *//*! justify-content: space-between; */right: 1em;background-color: #fdb927;border-radius: 10px;top: 1.4em;/*! flex-wrap: wrap; *//*! transform: translateY(-130px); *//*! transition: transform 0.2s cubic-bezier(.08,.82,.17,1); *//*! justify-items: center; */max-height: 354px;overflow: hidden;width: 0;height: 0;}
.contact-us a{color: white;font-weight: lighter;font-size: 0.7em;text-decoration: none;padding: 0.9em;min-width: 100px;text-align: center;width: 100%;display: block;}
.contact-us p{letter-spacing: 0.6px;margin: 0;}
.contact-us a:hover{background-color: #eca754;}

.contact-us img{
	
	max-width: 208px;
	transform: rotate(90deg);
	height: auto;
	object-fit: contain;
}

.contact-us .menu--images{flex-wrap: unset;margin: 0;height: 84%;}
	.flex-col-center{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		padding:0 3em;
	}

  .transitioner{
		position: fixed;
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color:yellow;
		animation-name:slide__left;
		animation-duration: 1s;
		animation-direction: normal;
		animation-fill-mode: forwards;
		z-index: 10;
  }

@keyframes slide__left{
	0%{
		transform: translateX(-100%);
		display: block;
	}
	
	50%{
		transform: translateX(0);
		display: block;
	}
	
	100%{
		transform: translateX(100%);
		display: none;
	}

}
	/*forms*/

	.form{}
	label{
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0.12em;
	}
	.input{}
	.form-row{
		margin:1em 0;
	}

	.form-row button{
		background-color: #000;
		color: #fff;
		font-size: 0.8em;
		padding: 0.8em 4em;
	}




	/*navigation*/

	.logo{}
	.logo img{
		max-width: 5em;
	}

	.menu{}
	.menu a{
		padding: 1em;
		text-decoration: none;
		font-size: 0.8em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		position: relative;
		width:140px;
		display: inline-block;
		text-align: center;
	}

.menu a:hover span{
	opacity: 1;
}

.menu a span{
	position: absolute;
	font-size:0.5em;
	left: 0;
	width: 18em;
	top:5em;
	opacity: 0;
	color:aquamarine;
	text-align: center;
}
	.openMenu a{
		text-decoration: none;
		margin:1em 3em;
		border-bottom: 1px solid #eee;
	}



	/*swiper*/


	.frame{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		width: 100vw;
		height: 40px;
		top: 0;
		padding: 0.5em 1em;
		z-index: 2;
		margin-top:1em;
	}

	.frame a{
		color: #fff;
	}

	.pageNav{
		position: fixed;
		bottom:0;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		padding:0.5em 1em;
		z-index: 2;
	}
	.pageNav a{
		color: #fff;
	}

	/*swiper*/
	
	.next{
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		letter-spacing: 0.2em;
		background-color: #fa9109;
		padding: 0.5em 2em;
		text-decoration: none;
		border-radius: 2em;
		color: #000;
	}
	.next:hover{
		color:#000;
		z-index: 12;
		transition: all 0.3s ease;
		text-decoration: none;
	}
	.next:hover::after{
		content: "";
		position: absolute;
		/*! width: 5em; */
		height: 100%;
		/*! margin:0 1em; */
		background-color: #fff;
		top:0;
		left:0;
		z-index: -1;
		transition:width 0.3s ease;
		border-radius: 3em;
	}
	.next:hover::before{
/* 		content: ""; */
		position: absolute;
		width: 5em;
		height: 100%;
		background-color: red;
		top: 0;
		left:0;
		clip-path: circle 30%;
	}



	/*shitty overrides*/
	.swiper-container{
		transform:translateX(0);
		opacity:1;
		transition: all 0.5s 0s ease;
	}


	.cover .swiper-slide{
		min-height: 95vh;
		height: 100vh;
		background-color: #000;
	}

	.works .swiper-slide{
		height: 99vh;
		width: 100vw;
		background-color: alicewhite;
	
	}

	.swiper-container-horizontal > .swiper-scrollbar{
		bottom: 2em;
		height: 1.5px;
		color: #fff;
		background: #fff;
	}
	.swiper-scrollbar-drag{
		background: #c8c8c8;
	}

	.content{
		position: relative;
		padding:0 2em;
		align-self: center;

	}
	.swiper-slide-active .content::after{
		content: '';
		width: 4em;
		transition: width 1s ease;
	}

	.content::after{
		content: "";
		width: 0em;
		height: 3px;
		background-color: #fff;
		z-index: 10;
		display: block;
		position: absolute;
		right: -2.5em;
		top: 50%;
		transition: width 1s ease;
	}
	.content h1{
		color: #fff;
		text-align: center;
		font-size:2.3em;
	}
	.content a{}
	.content p{
		color: #fff;
		letter-spacing: 0.020833em;
		
	}
	.content h3{}
	.swiper-slide-active .content{}
	.swiper-slide-active .content::after{}

	.clipped_bg{
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 100vh;
		background-color: blue;
		background-color: red;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	[data-bg="1"] .clipped_bg{
		background-image: url(../img/1.jpg);
		clip-path: polygon(37% 32%, 98% 59%, 63% 91%, 37% 91%); /*triangle*/
	}
	[data-bg="2"] .clipped_bg{
		background-image: url(../img/2.jpg);
		clip-path:polygon(43.51% 19.94%, 72.89% 12.64%, 69.78% 74.64%, 40.44% 86.83%); /*triangle*/
	}
	[data-bg="3"] .clipped_bg{
		background-image: url(../img/3.jpg);
		/*clip-path: polygon(37% 32%, 86.47% 14.65%, 60.86% 78.08%, 54.02% 64.74%);*/
		clip-path: circle(26.74% at 64% 50%);
	}

	.modal-body .clipped_bg{
		clip-path: circle(20%);
		background-color: #ff9719;
	}

	.background{
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 100vh;
		/*background-color: red;*/
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.6;
	}
	[data-bg="1"] .background{
		background-image: url(../img/1.jpg);
	}
	[data-bg="2"] .background{
		background-image: url(../img/2.jpg);
	}
	[data-bg="3"] .background{
		background-image: url(../img/3.jpg);
	}

	.swiper-slide-active .scaleBack{
		animation: scaleBack;
		animation-duration: 2s;
		animation-timing-function: ease;
		background-blend-mode: luminosity;
		transition: all;
	}

	@keyframes scaleBack{
		from{
			transform: scale(1.1);
		}
		to{
			transform:scale(1);
			
		}
	}


	/*About Page*/

	.halfModal{
		position: absolute;
		min-height: 100vh;
		width: 50%;
		background-color:#fff;
		transform: translateX(100%);
		top: 0;
		right: 0;
		z-index: 100;
		padding: 0 0.5em;

	}

	.halfModal .close{
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: right;
	}

	.about .about.halfModal{
		transform:translateX(0%);
	}
	.work .work.halfModal{
		transform:translateX(0%);
	}
	.contact .contact.halfModal{
		transform:translateX(0%);
	}


	.about .content{}
	.about .content h1{}
	.about .content p{}
	.about .content a{}
	.about .content h3{}
	.about .content img{}



	/*Modals*/
  #contactModal{
		overflow: hidden;
		/*display: block;*/
}

	.modal-dialog{
		margin:0;
	}
	.modal-content{
		width: 100vw;
		min-height: 100vh;
		border-radius: 0;
		overflow:hidden;
		/*! background-color: mintcream; */
	}
	.modal-body{
		padding: 0;
		position: relative;
	}
	.modal-body .close{
		font-size: 1em;
		padding: 1em;
		position: absolute;
		right: 1em;
		z-index: 10;

		background-color: aqua;
	}

	.aboutContent{
		/*! padding: 3em; */
		height: 100%;
		margin-top: auto;
		width: 80%;
		margin: 0 auto;
		display: flex;
		/*! justify-content: center; */
		/*! align-items: center; */
		height: 100vh;
	}
	.aboutContent h1,
	.aboutContent h2,
	.aboutContent h3
	{
		font-size: 3em;
		font-weight: 900;
		letter-spacing: -2px;
	}

.aboutUs h1,
.aboutUs p{
	position: relative;
	overflow: hidden;
	height: 1.3em;
	width: 100%;
	margin: 0;
}

.aboutUs span{
	position: absolute;
	width: 100%;
	/*! height: 100%; */
	top: 100%;
	height: 3em;
}

.aboutUs{
	
	color: #003636;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 700px;
}

.aboutUs a{
	
	color: inherit;
	margin-right: 1em;
	text-decoration: none;
	border: 1px solid #003636;
	padding: 0.5em;
	text-transform: uppercase;
	margin-bottom: 1em;
	font-size: 0.8em;
	letter-spacing: 1px;
}
.contactLinks{
	
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
}
.aboutUs p{
	
}

p.aboutHeader{

	margin-bottom: 2em;
}
.aboutUs h1{
	font-size: 5em;
	letter-spacing: -4px;
	line-height: 0.9em;
	margin-top: -0.2em;
}

.colorBg{position: fixed;bottom: 0;/*! display: flex; */width: 100vw;/*! justify-content: space-between; */background-color: #fff;padding: 1em;padding-bottom: 0;height: 100%;}
.colorBg img{/*! width: 7em; */height: 10em;/*! filter: blur(2.1px); */}
.colorBg img:hover{filter: none;}
.falco{
	position: absolute;
	top: 0;
	animation-name: falcon;
	
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 6s;
	animation-timing-function: cubic-bezier(.66,.61,.38,1.12);
	animation-play-state: running;
	animation-delay: 0.2s;
}
.goat{position: absolute;bottom: 0;right: 0;}
.symbology{}

.text-in{
	animation-name: text-in;
	animation-delay: 6s;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
@keyframes text-in{
	0%{
		opacity:0;
		top:100%;
		transition:all 0.5s ease-in;
	}
	50%{
		opacity:0.6;
		top:50%;
		transition:all 0.5s ease-in;
	}
	100%{
		opacity: 1;
		top:0%;
		transition:all 0.5s ease-in;
	}
}
/* animation for the bird */

@keyframes falcon{
	0%{
		transform:translateX(-100px) translateY(-20px) scale(0.8);
	}
	100%{
		transform: translateX(150px) translateY(50px);
	}
	
}

@keyframes mobile-falcon{
	0%{
		transform:translateX(-20px) translateY(-20px);
	}
	50%{
		transform:translateX(400px) translateY(50px);
	}
	100%{
		transform:translateX(0px) translateY(80px);
	}
}
.workContent{}
	.workContent p{
		font-weight: normal;
		padding:2em;
	}
	.staggeredContent{align-items: center;}
	.staggeredContent img{
		width:100%;
	}

	.staggeredContent .item{
		margin:0;
		padding: 0;
	}

  .openMenu{
		display: none;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.35s cubic-bezier(0.91, 0.01, 0.6, 0.99) alternate both;
	        animation: slide-in-left 0.55s cubic-bezier(.9,.03,.69,.22) alternate both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    		opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    		opacity: 1;
  }
}

.slide-out-left {
	-webkit-animation: slide-out-left 0.35s cubic-bezier(0.91, 0.01, 0.6, 0.99) alternate both;
	        animation: slide-out-left 0.55s cubic-bezier(.9,.03,.69,.22) alternate both;
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    		opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    		opacity: 1;
  }
}

/* overrides */
/* Shitty. I know. */
.modal-backdrop.show{
	display: none;
}

.modal-open{background-color: yellow;}
.modal-open .swiper-container.cover{
	 transform:scale(0.9);
	 /*opacity:0.5;*/
	transition: all 1s 0.2s ease;
}

.menuOpen .pageNav{}

.whatsapp{}
.whatsapp:hover{}
.whatsapp:active{}

/*WORKS*/

.mobile-wrapper{
	background-color: yellow;
	height:100vh;
	padding: 2em;
	display: flex;
	align-items: center;
}

.mobile video{width: 100%;height: 600px;}
.mobile{width: 320px;height: 600px;border: 4px solid black;margin: 0 auto;border-radius: 50px;overflow: hidden;background-color: black;box-shadow: 24px 15px 30px -16px #6f6f6f;}
.favela{background-color: #ffbc00;}
.schwepps{background-color: #f5d9eb;}
.phesheya{background-color: #8fcafc;}
.feels{background-color: #446945;}
.sss{background-color: #c689c0;}
.bee{background-color: #ff6377;}
.butifly{background-color: #faefe4;}
.dsff{background-color: #ebd7ee;}
.homii{background-color: #bab940;}
.nostalgia{background-color: #ff6f00;}
.oxy{background-color: blanchedalmond;}
.pop{background-color: #a73725;}
.oxy .tablet{
	background-color: black;
}
.pop .tablet{}
.pop .content{}
.oxy .content{color: brown;}
.oxy video{}
.feels .mobile{box-shadow: 24px 15px 33px -24px #000;}
.tablet{
	width: 406px;
	margin: 0 auto;
	border:4px solid black;
	border-radius:50px;
	overflow: hidden;
	height: 570px;
	background-color: #2a2a2a;
	display: flex;
}

.sss .tablet{}
.sss img{height: 100%;width: 100%;object-fit: contain;}

.tablet video{width: 100%;height: 100%;/*! object-fit: cover; */}

.swiper-button-prev, .swiper-button-next{color: #3c3c3c;}
.swiper-slide .mobile-wrapper .content{position: absolute;top: 25%;width: 291px;overflow: hidden;}
.swiper-slide .mobile-wrapper .content h3{font-weight: 800;letter-spacing: 4px;}
.swiper-slide .mobile-wrapper .content h1{font-weight: bold;text-align: left;}
.contact--details a{font-weight: bold;}























