	body{
		margin: 0;
		padding:0;
		font-family: 'Roboto', sans-serif;
	}
	.flex_div{
		display: flex;
	}

	/*navigation*/

	.logo{}
	.logo img{
		max-width: 5em;
	}

	.menu{}
	.menu a{
		padding: 1em;
		text-decoration: none;
		font-size: 0.8em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}
	.openMenu{
		display: flex;
		position: absolute;
		flex-direction: column;
		z-index: 3;
		background-color:#fff;
		height: 100%;
		right: 0;
		min-width: 30vw;
		display: none;
	}
	.openMenu a{
		text-decoration: none;
		margin:1em 3em;
		border-bottom: 1px solid #eee;
	}



	/*swiper*/


	.frame{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		width: 95vw;
		height: 40px;
		top: 0;
		padding: 0.5em 1em;
		z-index: 2;
		margin-top:1em;

	}

	.frame a{
		color: #fff;
	}

	.pageNav{
		position: fixed;
		bottom:0;
		width: 95vw;
		display: flex;
		justify-content: space-between;
		padding:0.5em 1em;
		z-index: 2;
	}
	.pageNav a{
		color: #fff;
	}



	/*swiper*/
	
	.next{
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		letter-spacing: 0.2em;
	}
	.next:hover{
		color:#000;
		z-index: 12;
		transition: all 0.3s ease;
	}
	.next:hover::after{
		content: "";
		position: absolute;
		width: 3em;
		height: 100%;
		background-color: #fff;
		top:0;
		left:0;
		z-index: -1;
		transition:all 0.3s ease;
	}


	.swiper-slide{
		min-height: 95vh;
		height: 100vh;
		background-color: #000;
	}

	.swiper-container-horizontal > .swiper-scrollbar{
		bottom: 2em;
		height: 1.5px;
		color: #fff;
		background: #fff;
	}
	.swiper-scrollbar-drag{
		background: #c8c8c8;
	}

	.content{
		position: relative;
		padding:0 2em;
		align-self: center;

	}

	.content::after{
		content: "";
		width: 4em;
		height: 3px;
		background-color: #fff;
		z-index: 10;
		display: block;
		position: absolute;
		right: -2.5em;
		top: 50%;
	}
	.content h1{
		color: #fff;
		text-align: center;
		font-size:2.3em;
	}
	.content a{}
	.content p{
		color: #fff;
		letter-spacing: 0.020833em;
		
	}
	.content h3{}






	.clipped_bg{
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 100vh;
		background-color: blue;
		background-color: red;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	[data-bg="1"] .clipped_bg{
		background-image: url(../img/1.jpg);
		clip-path: polygon(37% 32%, 98% 59%, 63% 91%, 37% 91%); /*triangle*/
	}
	[data-bg="2"] .clipped_bg{
		background-image: url(../img/2.jpg);
		clip-path:polygon(43.51% 19.94%, 72.89% 12.64%, 69.78% 74.64%, 40.44% 86.83%); /*triangle*/
	}
	[data-bg="3"] .clipped_bg{
		background-image: url(../img/3.jpg);
		clip-path: polygon(37% 32%, 86.47% 14.65%, 60.86% 78.08%, 54.02% 64.74%); /*triangle*/
	}

	.background{
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 100vh;
		/*background-color: red;*/
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.6;
	}
	[data-bg="1"] .background{
		background-image: url(../img/1.jpg);
	}
	[data-bg="2"] .background{
		background-image: url(../img/2.jpg);
	}
	[data-bg="3"] .background{
		background-image: url(../img/3.jpg);
	}

	.swiper-slide-active .scaleBack{
		animation: scaleBack;
		animation-duration: 2s;
		animation-timing-function: ease;
		background-blend-mode: luminosity;
		transition: all;
	}

	@keyframes scaleBack{
		from{
			transform: scale(1.1);
		}
		to{
			transform:scale(1);
			
		}
	}


	/*About Page*/

	.halfModal{
		position: absolute;
		min-height: 100vh;
		width: 50%;
		background-color:#fff;
		transform: translateX(100%);
		top: 0;
		right: 0;
		z-index: 100;
		padding: 0 0.5em;

	}

	.halfModal .close{
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: right;
	}

	.about .about.halfModal{
		transform:translateX(0%);
	}
	.work .work.halfModal{
		transform:translateX(0%);
	}
	.contact .contact.halfModal{
		transform:translateX(0%);
	}


	.about .content{}
	.about .content h1{}
	.about .content p{}
	.about .content a{}
	.about .content h3{}
	.about .content img{}